**/__pycache__/
**/*.pyc
.devcontainer/
.gitlab/
.ruff_cache/
.pytest_cache/
.venv/
.vscode/
.env
*.egg-info/
.gitattributes
.gitignore
.pre-commit-config.yaml
.python-version
.tool-versions
CHANGELOG.md
LICENSE
README.md
artifacts/
dist/
docs/
scripts/
tests/
tools/
